<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card *ngIf="!currentUser && loggingIn">
    <ion-card-header>Login</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>Email:</ion-label>
          <ion-input type="email" [(ngModel)]="newUser.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password:</ion-label>
          <ion-input type="password" [(ngModel)]="newUser.password"></ion-input>
        </ion-item>
        <button ion-button full (click)="logUserIn()">Log In</button>
        <p>Don't have an account? <a (click)="toggleLogginIn()">Create Account</a></p>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="!currentUser && !loggingIn">
    <ion-card-header>Create Account</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>First Name:</ion-label>
          <ion-input type="text" [(ngModel)]="newUser.name.first"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Last Name:</ion-label>
          <ion-input type=text [(ngModel)]="newUser.name.last"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Email:</ion-label>
          <ion-input type="email" [(ngModel)]="newUser.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Password:</ion-label>
          <ion-input type="password" [(ngModel)]="newUser.password"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button full (click)="createUserAccount()">Create Account</button>
      <p>Already Have An Account? <a (click)="toggleLogginIn()">Log In</a></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="currentUser">
    <img *ngIf="currentUser.profilePicture" src="{{currentUser.profilePicture}}" alt="">
    <ion-item *ngIf="!currentUser.profilePicture">
      <ion-label stacked>Profile Picture:</ion-label>
      <ion-input type="file" [(ngModel)]="profilePicture"></ion-input>
    </ion-item>

    <ion-card-header>{{currentUser.name.first}} {{currentUser.name.last}}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item-divider></ion-item-divider>
        <ion-item>
          <!-- <ion-label>Email:</ion-label> -->
          <h3>Email:</h3>
          <h2>{{currentUser.email}}</h2>
        </ion-item>
      </ion-list>
      <p>Not {{currentUser.name.first}}? <a (click)="logUserOut()">Log Out</a></p>
    </ion-card-content>

  </ion-card>
</ion-content>
